

.shop .ant-row .checkbox {
    padding-left: 50px;
    margin-top: 124px;
    width: 300px;

}
.shop .ant-checkbox-group  {
    display: block;
    width: 120px;
}

.shop .ant-checkbox-group>label,
.ant-checkbox-wrapper  {
    margin: 3px 0;
}
.shop .ant-row .shopList {
    margin: 100px 20px 0 0;
}
.shopList {
    width: 800px;
}

.shopList .ant-card {

    border-radius: 10px;
}
.shopList .ant-card-body {
padding: 0;
}
.shopList .ant-image-mask {
    border-radius: 10px 10px 0 0;
}